@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
    :root{
     font-family: 'Montserrat', sans-serif;
     --primary-color:#171717;
    }
    
    body{
      background: linear-gradient(-45deg, #8a694c 0%, #ead0af 13%, #cf9d7d 25%, #52161d 38%, #31050c 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
      background-size:  400% 400%;
      animation: gradient 20s ease infinite;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
     color: white;
    }

    @keyframes gradient {
      0% {
        background-position: 0%;
      }
      50% {
        background-position: 100%;
      }
      100% {
        background-position: 0%;
      }
    }
    
    header{
     padding: 1rem;
    }
    main{
     margin: auto;
     text-align: center;
    }
    .title-section{
     padding: 1rem;
    }
    #datepicker{
     box-sizing: border-box;
     width: 9rem;
     padding: 00.2rem;
     border-radius: 0.5rem;
    }
    .image-div{
     width: 80%;
     margin: auto;
    }
    #image_of_the_day{
     width: 100%;
    }
    .video-div{
     width: 80%;
     margin: auto;
    }
    #videoLink{
     width: 100%;
     height: 70vh
    }
    .description-div{
     width: 80%;
     margin:0.1rem auto 1rem;
     border: solid 1px white;
     padding: 0.5rem;
     border-radius: 00.5rem;
    }
    #description{
     line-height:1.82;
    }

    .link {
      text-decoration: none;
      color: cornsilk;
      text-transform: uppercase;
      transition: 0.3s;
    }
    
    .link:hover {
      color: rgba(255, 137, 137, 0.9);
      
    }
    
    .link:visited {
      color: cornsilk;
    }
    

    .footerPrincipal {
      color: rgba(255, 255, 255, 0.7);
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
      font-size: 0.9rem;
      width: 100%;
      height: 40px;
      padding-top: 2px;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(6px);
    }